name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  # Cancel previous actions from the same PR: https://stackoverflow.com/a/72408109
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: bazel-contrib/.github/.github/workflows/bazel.yaml@d8163053334bda95e01b01348d218441132276b2
    with:
      folders: |
        [
          ".",
          "e2e/smoke"
        ]
      exclude: |
        [
          {"folder": ".", "bzlmodEnabled": false},
          {"folder": "e2e/smoke", "bzlmodEnabled": false},
          {"os": "windows-latest"},
        ]
